<div class="sidebar">
<ul>
  <li><a href="#top" onclick="removeSidebar();">SERVICE D’ASSISTANCE</a></li>
  <li><a href="#importexport" onclick="removeSidebar();">IMPORTATION&EXPORTATION</a></li>
  <li><a href="#importvehicule" onclick="removeSidebar();">IMPORTATION P/C VEHICULE</a></li>
  <li><a href="#formation" onclick="removeSidebar();">Formation</a></li>
  <li><a href="#formation" onclick="removeSidebar();">Formation</a></li>
  <li><a href="#formation" onclick="removeSidebar();">Formation</a></li>
  <li><a href="#formation" onclick="removeSidebar();">Formation</a></li>
  <li><a href="#formation" onclick="removeSidebar();">Formation</a></li>
</ul>
</div>

<div class="arrow" onclick="toggleSidebar();"><i class="fa fa-chevron-right"></i></div>

<div class="content">
<div class="header">
  <div><img src="images/telephone.svg"></div>
  <div><h1 id="title">SERVICE D’ASSISTANCE</h1></div>
</div>

<button onclick="toggleSidebar();">SideBar</button>

<p>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</p>

<h2 id="importexport">DOCS A L’IMPORTATION&EXPORTATION</h2>
<p>
La facture commerciale<br>
La liste de colisage<br>
Le connaissement (BL)<br>
La lettre de transport<br>
Le certificat d’origine<br>
La déclaration de la porte de
sortie<br>
</p>

<h2 id="importvehicule">DOCS A L IMPORTATION P/C VEHICULE</h2>
<p>
le connaissement (BL)<br>
La carte grise<br>
CNI<br>
La facture commerciale
</p>

<p>
Besoins d amples informations pour :<br>
<strong>1-Une exonération</strong><br>
PAA<br>
OIC<br>
ABJ TERMINAL<br>
CONSIGNATAIRE<br>
<strong>2-Une Admission temporaire</strong><br>
Exposition<br>
Essais<br>
Etc<br>
<strong>3-Comment réussir son importation/exportation</strong><br>
</p>

<h2 id="formation">Formation</h2>
<p>
Transport<br>
Logistic<br>
GUCE<br> 
Sydam world<br> 
SAp
</p>
</div>
