<h1>SERVICE D’ASSISTANCE</h1>

<p>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</p>

<h2>DOCS A L’IMPORTATION&EXPORTATION</h2>
<p>
La facture commerciale
La liste de colisage
Le connaissement (BL)
La lettre de transport
Le certificat d’origine
La déclaration de la porte de
sortie
</p>

<h2>DOCS A L IMPORTATION P/C VEHICULE</h2>
<p>
le connaissement (BL)
La carte grise
CNI
</p>

<h2>La facture commerciale</h2>
<p>
Besoins d amples informations pour :
<strong>1-Une exonération</strong>
PAA
OIC
ABJ TERMINAL
CONSIGNATAIRE
<strong>2-Une Admission temporaire</strong>
Exposition
Essais
Etc
<strong>3-Comment réussir son importation/exportation</strong>
</p>