<!-- <div class="arrow" title="Page Navigation"><a onclick="toggleSidebar();"><i class="fa fa-chevron-right"></i></a></div> -->

<!-- <ul class="sidebar" onclick="toggleSidebar();">
  <li><a href="#top">Top</a></li>
  <li><a href="#importexport">IMPORTATION&EXPORTATION</a></li>
  <li><a href="#importvehicule">IMPORTATION P/C VEHICULE</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
</ul> -->


<div class="header">
  <h1>SERVICE D’ASSISTANCE</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
<h2 id="importexport">DOCUMENTS A L’IMPORTATION ET A L’EXPORTATION</h2>
<p>
La facture commerciale<br>
La liste de colisage<br>
Le connaissement<br> 
Bill of Lading (BL)<br>
La lettre de transport (LTA) / Way Bill<br>
Le certificat d’origine<br>
La déclaration de la porte de
sortie
</p>

<h2 id="importvehicule">DOCUMENTS A L IMPORTATION POUR LE COMPTE DES VEHICULES</h2>
<p>
le connaissement (Bill of Lading)<br>
La carte grise<br>
Carte Nationale d'Identite (CNI)<br>
La facture commerciale
</p>

<p>
Besoins d amples informations pour :
</p>
<h3>1-Une exonération</h3>
<p>
PORT AUTONOME D'ABIDJAN (PAA)<br>
OFFICE IVOIRIEN DES CHARGEURS (OIC)<br>
ABIDJAN TERMINAL<br>
CONSIGNATAIRE
</p>
<h3>2-Une Admission temporaire</h3>
<p>
Exposition<br>
Essais<br>
Etc
</p>
<h3>3-Comment réussir son importation/exportation</h3>
<h2>BUREAUX DE DOUANE COTE D'IVOIRE</h2>
<p>
CiAbj 1 Service Portuaire<br>
CiAbj 3 Service Aeroportuaire<br> 
CiAbj 9 Service Routier<br> 
CiAbj Cafe_Cacao<br> 
CiAbj Petrole<br> 
</p>

<h2>FORMATION</h2>
<p>
Transport<br>
Logistic<br>
GUCE<br>
Sydam world<br>
SAP
</p>
</div>