<div class="header">
  <h1>SERVICE DE COLIS EXPRESS</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
  <h1>SERVICES COLIS EXPRESS</h1>

  <h2>DOOR TO PORT</h2>
  <h2>DE 1 Kg à 500 Kgs</h2>
  <div id="construction"><img src="images/construction.svg"></div>
</div>