<div class="header">
  <h1>CONTACT</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client, en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
  <p class="center">
    Tel : +22509328907<br>
    WhatsApp: <a href="https://wa.me/22509328907"><i class="fa fa-whatsapp"></i></a><br>
    Heure d ouverture : 08:00<br>
    Heure de fermeture : 16:30<br>
    Jours : Du lundi au Vendredi<br>
    Sauf : Jours fériés.
  </p>
  <div id="construction"><img src="images/construction.svg"></div>
</div>