<div class="header">
  <h1>SERVICE DE GROUPAGE & DEGROUPAGE</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
<h2 id="importexport">DOCUMENTS A L’IMPORTATION ET A L’EXPORTATION</h2>
<p>
La facture commerciale<br>
La liste de colisage<br>
Le connaissement<br> 
Bill of Lading (BL)<br>
La lettre de transport (LTA) / Way Bill<br>
Le certificat d’origine<br>
La déclaration de la porte de
sortie
</p>

<h2 id="importvehicule">DOCUMENTS A L IMPORTATION POUR LE COMPTE DES VEHICULES</h2>
<p>
le connaissement (Bill of Lading)<br>
La carte grise<br>
Carte Nationale d'Identite (CNI)<br>
La facture commerciale
</p>
</div>