<div class="header">
  <h1>SERVICE DE GROUPAGE & DEGROUPAGE</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
    <div id="construction"><img src="images/construction.svg"></div>
</div>