<div class="images">
  <img src="images/image4.jpg" id="slide">
  <div id="banner"><marquee>COMMISSIONNAIRE AGREE EN DOAUNE/ AFRICA FORWARDING BROKER.....</marquee></div>
</div>
<div id="bottom">
<fieldset id="caption"><p class="center white">Bureau</p>
<hr>
ABIDJAN,Plateau derrière la BCEAO,immeuble  Horizon.<button onclick="toggleMap();">Map<i class="fa fa-arrow-down"></i></button><div id="map"></div></fieldset>
<fieldset id="contactinfo">
  <p class="center white">SErvices and LogisTics</p>
  <hr> 
  <p class="white">
    Slogan : Beyond thinking.<br>
    Tel : +22509328907 <a href="https://wa.me/22509328907"><i class="fa fa-whatsapp"></i></a><br>
    Heure d ouverture : 08:00<br>
    Heure de fermeture : 16:30<br>
    Jours : Du lundi au Vendredi<br>
    Sauf : Jours fériés.<br>
  </p>
</fieldset>
</div>

<fieldset id="partnertext">
<hr>
Ils nous font confiance
<div id="partners">
  <div class="logo">
    <a href="https://www.facebook.com/pages/category/Cargo---Freight-Company/DIOM-Transit-192989051177738/" target="_blank"><img src="images/diom_transit.jpg"></a>
  </div>
  <div class="logo">
    <a href="https://www.sbtjapan.com/" target="_blank"><img src="images/sbt_japan.png" ></a>
  </div>
  <div class="logo">
    <a href="http://www.sicogi.net/" target="_blank"><img src="images/sicogi.png" ></a>
  </div>
  <div class="logo">
    <a href="http://fiberpremium.com/" target="_blank"><img src="images/premium.png" ></a>
  </div>
</div>
</fieldset>



