<div class="images">
  <img src="images/image4.jpg" id="slide">
  <div id="banner"><marquee>COMMISSIONNAIRE AGREE EN DOAUNE/ AFRICA FORWARDING BROKER.....</marquee></div>
</div>
<div id="bottom">
<fieldset id="caption"><p class="center">Bureau</p>
<hr>
ABIDJAN,Plateau derrière la BCEAO,immeuble  Horizon.<button onclick="toggleMap();">Map</button><div id="map"></div></fieldset>
<fieldset id="contactinfo">
  <p class="center">SErvices and LogisTics</p>
  <hr> 
  <p>
    Slogan : Beyond thinking.<br>
    Tel : +22509328907 <a href="https://wa.me/22509328907"><i class="fa fa-whatsapp"></i></a><br>
    Heure d ouverture : 08:00<br>
    Heure de fermeture : 16:30<br>
    Jours : Du lundi au Vendredi<br>
    Sauf : Jours fériés.<br>
  </p>
</fieldset>
</div>

<fieldset id="partnertext">
<hr>
PARTENAIRES
<div id="partners">
  <div class="logo">
    <a href="https://www.facebook.com/pages/category/Cargo---Freight-Company/DIOM-Transit-192989051177738/" target="_blank"><img src="images/diom_transit.jpg"></a>
  </div>
  <div class="logo">
    <a href="https://www.sbtjapan.com/" target="_blank"><img src="images/sbt_japan.png" ></a>
  </div>
  <div class="logo">
    <a href="http://www.sicogi.net/" target="_blank"><img src="images/sicogi.png" ></a>
  </div>
</div>
<hr>
</fieldset>
<ul class="socialmedia">
  <li><a href="https://www.facebook.com/Seltic-Sarl-388885858382049/"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://wa.me/22509328907"><i class="fa fa-whatsapp"></i></a></li>
</ul>


