<img src="images/image4.jpg" id="backgroundimage">

<marquee>COMMISSIONNAIRE AGREE EN DOUANE / AFRICA FORWARDING BROKER.....</marquee>

<div class="block">
  <h2>Bureau</h2>
  <hr>
  <p>ABIDJAN,Plateau derrière la BCEAO,immeuble  Horizon.</p>
  <button onclick="toggleMap();" id="mapbutton"><i class="fa fa-map-marker"> Map</i></button>
  <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3972.623173704763!2d-4.013051!3d5.321329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf4cf652607ae6fe1!2sResidence%20Horizon!5e0!3m2!1sen!2sus!4v1567707975033!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

<div class="block">
  <h2>TRANSPORT AND LOGISTICS SERVICES</h2>
  <hr> 
  <p>
    Slogan : Beyond thinking.<br>
    Tel : +22509328907 <a href="https://wa.me/22509328907"><i class="fa fa-whatsapp"></i></a><br>
    Heure d ouverture : 08:00<br>
    Heure de fermeture : 16:30<br>
    Jours : Du lundi au Vendredi<br>
    Sauf : Jours fériés.
  </p>
</div>

<div class="block" id="partners">
  <h2>Ils nous font confiance</h2>
  <ul>
    <li><a href="https://www.facebook.com/pages/category/Cargo---Freight-Company/DIOM-Transit-192989051177738/" target="_blank"><img src="images/diom_transit.jpg"></a></li>
    <li><a href="https://www.sbtjapan.com/" target="_blank"><img src="images/sbt_japan.png" ></a></li>
    <li><a href="http://www.sicogi.net/" target="_blank"><img src="images/sicogi.png" ></a></li>
    <li><a href="http://fiberpremium.com/" target="_blank"><img src="images/premium.png" ></a></li>
  </ul>
</div>



