<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Seltic</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <script src="<%=page %>.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" media="(max-width: 480px)" href="css/small.css">

</head>
<body>
  <div id="selticlogo"><img src="images/seltic_logo.png"></div>
<nav>
  <button><i class="fa fa-bars"></i></button>
  <ul>
    <li><a href="home" id="home">HOME</a></li>
    <li><a href="colis_express" id="colis_express">COLIS EXPRESS</a></li>
    <li><a href="transit" id="transit">TRANSIT</a></li>
    <li><a href="logistics" id="logistics">LOGISTICS</a></li>
    <li><a href="achats_inter" id="achats_inter">ACHATS INTER</a></li>
    <li><a href="groupage" id="groupage"> GROUPAGE & DEGROUPAGE</a></li>
    <li><a href="negoces" id="negoces">NÉGOCES</a></li>
    <li><a href="assistance" id="assistance">ASSISTANCE</a></li>
    <li><a href="contact" id="contact">CONTACT</a></li>
  </ul>
</nav>


<%- include(page + '.ejs'); %>
<ul class="socialmedia">
  <li><a href="https://www.facebook.com/Seltic-Sarl-388885858382049/" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://wa.me/22509328907" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
  <li id="phone"><i class="fa fa-mobile"></i><span id="phonetext"> +22509328907</span></li>
</ul>
<footer>
    &copy; 2019 &bull; SELTIC &bull; Created by: <a href="https://wa.me/22549510013"><i class="fa fa-whatsapp"></i></a> FK & MS
</footer>
</body>

</html>
<script>
    $(<%=page %>).addClass("active");
</script>