<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seltic</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="home.js"></script>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="topnav" id="topnavId">
    <a href="/"><i class="fa fa-fw fa-home"></i> SELTIC</a>
    <a href="colis_express">COLIS EXPRESS</a>
    <a href="transit">TRANSIT</a>
    <a href="logistics" class="active">LOGISTICS</a>
    <a href="achats_inter">ACHATS INTER</a>
    <a href="groupage"> GROUPAGE & DEGROUPAGE</a>
    <a href="negoces">NÉGOCES</a>
    <a href="assistance">ASSISTANCE</a>
    <a href="contact">CONTACT</a>
    <a href="javascript:void(0);" class="icon" onclick="toggleResponsive();">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <p class="inprogress">In Progress</p>
</body>