<div class="header">
  <h1>SERVICES LOGISTIQUE</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
<h2>Transport terrestre</h2>
<p>
Zone 1<br>
Zone 2<br>
Zone 3<br>
Zone 4<br>
Hors d’Abidjan
</p>

<h2>Transport Entre Etats</h2>
<p>
CEDEAO
</p>

<h2>Manutention</h2> <!--What does this mean?-->
<h2>Type d engins</h2>
<p>
Grue<br>
Auto chargeuse<br>
Remorque<br>
Transpalettes
</p>

<h2>Gestion de vos Stocks</h2>
<h2>Entrepôts</h2>
<p>
Espace disponible à partir de 1000 à 3000 mètre carré.
</p>
</div>