<div class="header">
  <h1>SERVICE DE NÉGOCES</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client, en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
  <h1>SERVICE DE NÉGOCE</h1>
  <h2>Cafe</h2>
  <h2>Cacao</h2>
  <h2>Anacarde</h2>
  <h2>Coton</h2>
  <h2>Bois<h2>
  <h2>Caoutchouc Naturel</h2>
  <h2>Attieke</h2>
  <div id="construction"><img src="images/construction.svg"></div>
</div>

</fieldset>