  <div class="topnav" id="topnavId">
    <a href="home" id="home"><img src="images/seltic_logo_official.png" id="selticlogo"></a>
    <a href="colis_express" id="colis_express">COLIS EXPRESS</a>
    <a href="transit" id="transit">TRANSIT</a>
    <a href="logistics" id="logistics">LOGISTICS</a>
    <a href="achats_inter" id="achats_inter">ACHATS INTER</a>
    <a href="groupage" id="groupage"> GROUPAGE & DEGROUPAGE</a>
    <a href="negoces" id="negoces">NÉGOCES</a>
    <a href="assistance" id="assistance">ASSISTANCE</a>
    <a href="contact" id="contact">CONTACT</a>
    <a href="javascript:void(0);" class="icon" onclick="toggleResponsive();">
      <i class="fa fa-bars"></i>
    </a>
  </div>