<div class="header">
  <h1>SERVICE DE TRANSIT</h1>
  <p class="subtitle"><strong>Travailler avec des professionnels requiert une assistance parfaite et totale du client en lui fournissant toutes les informations dont il a besoin avant toute importation.</strong></p>
</div>
<div class="block">
  <h1>SERVICE DE TRANSIT</h1>
  <h2>Transit Aerien</h2>
  <h2>Transit Maritime</h2>
  <h2>Transit Routier</h2>
  <h2>Transit ferroviaire</h2>
  <h2>Transit Urbain</h2>
  <div id="construction"><img src="images/construction.svg"></div>
</div>