body {
    margin: 0;
    background: gainsboro;
}

h2 {
    color: tomato;
}

h3 {
    color: tomato;
}

p {
    color: mediumblue;
}

#backgroundimage {
    width: 100%;
}

marquee {
    background-color: tomato;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    margin-top: 100px;
    background-image: linear-gradient(to right, tomato, white);
    padding: 50px;
}

.block {
    background-color: white;
    padding: 30px 20px;
    margin-top: 20px;
    max-width: 2000px;
}

.socialmedia {
    width: 100%;
    border: 1px solid black;
    padding-left: 20px;
}

.socialmedia li {
    list-style-type: none;
    float: left;
    font-size: 44px;
    padding: 10px;
}

#phonetext {
    font-size: 20px;
}

.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: royalblue;
}

.fa-whatsapp {
    color: green;
}

#partners  {
    height: 150px;
}

#partners ul {
    padding-left: 0px;
}

#partners li {
    list-style-type: none;
    float: left;
}

#partners img {
    height: 44px;
}

footer {
    text-align: center;
}

#construction img {
    width: 100%;
}

.center {
    text-align: center;
}