body {
    margin: 0;
    background: gainsboro;
}

h2 {
    color: tomato;
}

h3 {
    color: tomato;
}

p {
    color: mediumblue;
}

#backgroundimage {
    width: 100%;
}

.block {
    background-color: white;
    padding: 30px 20px;
    margin-top: 20px;
    max-width: 1000px;
    border-radius: 5%;
}

.socialmedia li {
    list-style-type: none;
    float: left;
    font-size: 44px;
    padding: 10px;
}

#phonetext {
    font-size: 20px;
}

.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: royalblue;
}

.fa-whatsapp {
    color: green;
}

#partners  {
    height: 150px;
    text-align: center;
}

#partners li {
    list-style-type: none;
    float: left;
}

#partners img {
    height: 44px;
}