body {
    background-color: gainsboro;
    margin: 0;
}

.images {
    overflow: hidden;
    height: 800px;
}

#slide {
    width: 100%;
    display: block;
}

#banner {
    position: absolute;
    bottom: 300px;
    width: 100%;
    color: white;
    background-color: red;
    font-size: 30px;
}

#bottom {
    margin: auto;
}

#partners {
    height: 300px;
}

#partnertext {
    font-size: 30px;
    background-color: white;
    color: red;
    padding: 30px 10px;
    border-radius: 50%;
    width: 200px;
}

.logo {
    float: left;
    max-width: 100%;
    max-height: 100%;
}

#partners img {
    height: 200px;
}

#contactinfo {
    position: relative;
    width: 300px;
    border-radius: 5%;
    color: white;
    display: inline-block;
    background-color: darkblue;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#caption {
    position: relative;
    /* display: inline-block; */
    border-radius: 5%;
    color: white;
    background-color: darkblue;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    font-size: 30px;
    float: left;
}

footer {
    padding: 2em;
    color: #fff;
    background: royalblue;
    text-align: center;
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.topnav {
    background-color: royalblue;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
    background-color: tomato;
}

.topnav a.active {
    color: black;
    background-color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 750px) {
    .topnav a:not(:first-child) { display: none; }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .topnav.responsive { position: relative; }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}