body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

#inprogress {
    margin-top: 50px;
}

h2 {
    margin-top: 70px;
}

#searchicon {
    float: left;
    display: block;
}

#searchbar {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 50px;
}

#home {
    margin-left: 70px;
}

#caption {
    color: red;
    z-index: -1;
}

#image-container {
    background-image: url("images/image1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding-bottom: 600px;
}



img {
    width: 600px;
    position: absolute;
    opacity: 0.5;
    width: 100%;
}

#imgBackground {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    padding-bottom: 600px;
}

.topnav {
    background-color: royalblue;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    top: 0px;
}
.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
    background-color: tomato;
}

.topnav a.active {
    color: black;
    background-color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 750px) {
    .topnav a:not(:first-child) { display: none; }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .topnav.responsive { position: relative; }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive #searchbar {
        display: none;
    }
    .topnav.responsive #searchicon {
        display: none;
    }
    .topnav.responsive #home {
        margin: 0px;
    }

}